<!-- 区域选择器 -->
<h3 class="section-title"
    [ngStyle]="{'textAlign': realModel.attr.titleAlign,
               'fontSize': realModel.attr.titleSize + 'px',
               'fontWeight': realModel.attr.titleWeight}">
  {{componentAttr?(componentAttr.title?componentAttr.title:''):''}}
</h3>
<ngx-dnd-container dropZone="{{selectedViewMode === 'edit'?'builder-target-section':''}}"
                   class="section-view-border"
                   [model]="model"
                   [removeOnSpill]="true"
                   [template]="template"
                   [droppableItemClass]="droppableItemClass"
                   (drag)="log($event)" (drop)="drop($event)" (over)="log($event)" (out)="log($event)"
                   (remove)="log($event)">
</ngx-dnd-container>

