<!-- window属性编辑控件 -->
<div>
  <p-tabView>
    <p-tabPanel header="" headerStyleClass="tab-header-general">
      <p-messages [(value)]="msgs"></p-messages>
      <div class="property-item">
        <h3 class="first">Title</h3>
        <input class="value" type="text" size="30"
               [disabled]="selectedViewMode!=='edit' || dataModel.attr.readOnly[selectedViewMode]"
               pInputText [(ngModel)]="window.title"
               (ngModelChange)="onChange('title', {required: true, variable: false})">
      </div>

      <div class="property-item">
        <h3 class="first">Name<span style="color: red">*</span></h3>
        <input class="value" type="text" size="30"
               [disabled]="selectedViewMode!=='edit' || dataModel.attr.readOnly[selectedViewMode]"
               pInputText [(ngModel)]="window.name"
               (ngModelChange)="onChange('name', {checkExistAttrName: true, variable: true})">
      </div>
      <div class="property-item">
        <h3 class="first">Cls</h3>
        <div class="value">
          <input class="value" type="text" size="30" placeholder="" pInputText
                 [(ngModel)]="window.cls"
                 [disabled]="selectedViewMode!=='edit' || dataModel.attr.readOnly[selectedViewMode]"
                 (ngModelChange)="onChange('name', {variable: true})">
        </div>
      </div>
      <div class="property-item">
        <h3 class="first">Width</h3>
        <input class="value" type="text" size="30"
               [disabled]="selectedViewMode!=='edit' || dataModel.attr.readOnly[selectedViewMode]"
               (ngModelChange)="onChange()" pInputText [(ngModel)]="window.width">
      </div>
      <div class="property-item">
        <h3 class="first">Height</h3>
        <input class="value" type="text" size="30"
               [disabled]="selectedViewMode!=='edit' || dataModel.attr.readOnly[selectedViewMode]"
               (ngModelChange)="onChange()" pInputText [(ngModel)]="window.height">
      </div>
    </p-tabPanel>

    <p-tabPanel header="" headerStyleClass="tab-header-event">
      <p-dataTable [value]="eventDatas" selectionMode="single" [(selection)]="selectedEvent" class="custom-code"
                   (onRowSelect)="chooseEvent($event)" dataKey="id">
        <p-column field="name" header=""></p-column>
        <p-column field="desc" header=""></p-column>
      </p-dataTable>
    </p-tabPanel>
  </p-tabView>
</div>

