<!-- textbox属性编辑控件 -->
<div class="component-property-content">
  <p-tabView [styleClass]="property-container">
    <p-tabPanel headerStyleClass="tab-header-general">
      <p-messages [(value)]="msgs"></p-messages>
      <div class="property-item">
        <h3 class="first">FieldLabel</h3>
        <input class="value" type="text" size="30" placeholder="" pInputText
               [(ngModel)]="textBox.fieldLabel"
               [disabled]="selectedViewMode!=='edit' || dataModel.attr.readOnly[selectedViewMode]"
               (ngModelChange)="onChange('fieldLabel', {})">
      </div>
      <div class="property-item">
        <h3 class="first">PlaceHolder</h3>
        <input class="value" type="text" placeholder="" pInputText
               [(ngModel)]="textBox.placeHolder"
               [disabled]="selectedViewMode!=='edit' || dataModel.attr.readOnly[selectedViewMode]"
               (ngModelChange)="onChange()">
      </div>
      <div class="property-item">
        <h3 class="first">InitValue</h3>
        <input class="value" type="text" placeholder="" pInputText
               [(ngModel)]="textBox.initValue"
               [disabled]="selectedViewMode!=='edit' || dataModel.attr.readOnly[selectedViewMode]"
               (ngModelChange)="onChange()">
      </div>
      <div class="property-item">
        <h3 class="first">Name</h3>
        <input class="value" type="text" size="30" placeholder="" pInputText
               [(ngModel)]="textBox.name"
               [disabled]="selectedViewMode!=='edit' || dataModel.attr.readOnly[selectedViewMode]"
               (ngModelChange)="onChange('name', {checkExistAttrName: true, variable: true})">
      </div>
      <div class="property-item">
        <h3 class="first">Required</h3>
        <div class="value">
          <p-inputSwitch onLabel="Yes" offLabel="No" (ngModelChange)="onChange()"
                         [disabled]="selectedViewMode!=='edit' || dataModel.attr.readOnly[selectedViewMode]"
                         [(ngModel)]="textBox.required"></p-inputSwitch>
        </div>
      </div>
      <div class="property-item">
        <h3 class="first">Editable</h3>
        <div class="value">
          <p-inputSwitch onLabel="Yes" offLabel="No" (ngModelChange)="onChange()"
                         [disabled]="selectedViewMode!=='edit' || dataModel.attr.readOnly[selectedViewMode]"
                         [(ngModel)]="textBox.editable"></p-inputSwitch>
        </div>
      </div>
      <div class="property-item">
        <h3 class="first">LabelWidth</h3>
        <input class="value" type="number" min="0.0" size="30" placeholder="" pInputText
               [(ngModel)]="textBox.labelWidth"
               [disabled]="selectedViewMode!=='edit' || dataModel.attr.readOnly[selectedViewMode]"
               (ngModelChange)="onChange()">
      </div>
      <div class="property-item">
        <h3 class="first">LabelAlign</h3>
        <div class="value">
          <p-dropdown [options]="commonAttrs.labelAligns"
                      [disabled]="selectedViewMode!=='edit' || dataModel.attr.readOnly[selectedViewMode]"
                      [(ngModel)]="textBox.labelAlign"
                      placeholder="Select align" [style]="{'width':'150px'}"></p-dropdown>
        </div>
      </div>
      <div class="property-item">
        <h3 class="first">Width</h3>
        <div class="value">
          <p-spinner size="30" [(ngModel)]="textBox.width" [min]="0" [max]="2000"
                     [disabled]="selectedViewMode!=='edit' || dataModel.attr.readOnly[selectedViewMode]"
                     (ngModelChange)="onChange()"></p-spinner>
        </div>
      </div>
      <div class="property-item">
        <h3 class="first">Height</h3>
        <div class="value">
          <p-spinner size="30" [(ngModel)]="textBox.height" [min]="0" [max]="2000"
                     [disabled]="selectedViewMode!=='edit' || dataModel.attr.readOnly[selectedViewMode]"
                     (ngModelChange)="onChange()"></p-spinner>
        </div>
      </div>
      <div class="property-item">
        <h3 class="first">MinLength</h3>
        <div class="value">
          <p-spinner size="30" [(ngModel)]="textBox.minLength" [min]="0" [max]="textBox.maxLength"
                     [disabled]="selectedViewMode!=='edit' || dataModel.attr.readOnly[selectedViewMode]"
                     (ngModelChange)="onChange()"></p-spinner>
        </div>
      </div>
      <div class="property-item">
        <h3 class="first">MaxLength</h3>
        <div class="value">
          <p-spinner size="30" [(ngModel)]="textBox.maxLength" [min]="textBox.minLength" [max]="100"
                     [disabled]="selectedViewMode!=='edit' || dataModel.attr.readOnly[selectedViewMode]"
                     (ngModelChange)="onChange()"></p-spinner>
        </div>
      </div>
      <div class="property-item">
        <h3 class="first">Cls</h3>
        <div class="value">
          <input class="value" type="text" size="30" placeholder="" pInputText
                 [(ngModel)]="textBox.cls"
                 [disabled]="selectedViewMode!=='edit' || dataModel.attr.readOnly[selectedViewMode]"
                 (ngModelChange)="onChange('name', {variable: true})">
        </div>
      </div>
      <div class="property-item">
        <h3 class="first">EmptyText</h3>
        <input class="value" type="text" placeholder="" pInputText
               [(ngModel)]="textBox.emptyText"
               [disabled]="selectedViewMode!=='edit' || dataModel.attr.readOnly[selectedViewMode]"
               (ngModelChange)="onChange()">
      </div>
      <div class="property-item">
        <h3 class="first">InvalidText</h3>
        <input class="value" type="text" placeholder="" pInputText
               [(ngModel)]="textBox.invalidText"
               [disabled]="selectedViewMode!=='edit' || dataModel.attr.readOnly[selectedViewMode]"
               (ngModelChange)="onChange()">
      </div>
      <div class="property-item">
        <h3 class="first">DataBind</h3>
        <div class="value">
          <input type="text" class="value" pInputText placeholder="" [ngModel]="textBox.bindPath" readonly
                 style="width:60%;float: left;">
          <button pButton class="value" type="button" label="Bind" style="width:35%;" (click)='showBind()'
                  [disabled]="selectedViewMode!=='edit' || dataModel.attr.readOnly[selectedViewMode]"></button>
        </div>
      </div>
    </p-tabPanel>

    <p-tabPanel headerStyleClass="tab-header-event">
      <p-dataTable [value]="eventDatas" selectionMode="single" [(selection)]="selectedEvent" class="custom-code"
                   (onRowSelect)="chooseEvent($event)" dataKey="id">
        <p-column field="name" header=""></p-column>
        <p-column field="desc" header=""></p-column>
      </p-dataTable>
    </p-tabPanel>
  </p-tabView>
</div>
<div *ngIf="displayDialog" class="data-bind-wrap">
  <p-dialog header="DataBind" [(visible)]="displayDialog" width="800" height="450">
    <app-tab-panel [isShowTree]="false"
                   [isShowService]="false"
                   [defaultTabTitle]="defaultTabTitle"
                   [smartDsData]="treeData"
                   [curPomBindSmartDs]="textBox.bindPath"
                   [(pullCopyTemp)]='pullCopyTemp'></app-tab-panel>
    <app-wiget-property-bottom [dontShowQuick]="true" (cFinish)="doClickFinish()"
                               (docloseDialog)="doCloseDialog()"></app-wiget-property-bottom>
  </p-dialog>
</div>
