<!-- textbox属性编辑控件 -->
<p-panel>
  <p-header>
    <div class="ui-helper-clearfix">
      <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Textbox setting</span>
    </div>
  </p-header>
  <p-tabView>
    <p-tabPanel header="GENERAL">
      <h3 class="first">Label<span style="color: red">*</span></h3>
      <input type="text" size="30" placeholder="Text Box" pInputText [(ngModel)]="textbox.label">
      <span>Type your label.</span>

      <h3 class="first">Name<span style="color: red">*</span></h3>
      <input type="text" size="30"  placeholder="TextBox" pInputText [(ngModel)]="textbox.name">

      <h3 class="first">Hint</h3>
      <input type="text" size="30"  placeholder="Hint" pInputText [(ngModel)]="textbox.Hint">

      <h3 class="first"></h3>
      <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="textbox.required"></p-inputSwitch><span>Required (Prevent submission if this value is empty.)</span>
    </p-tabPanel>
    <p-tabPanel header="ADVANCED">
      <h3 class="first">Access Control</h3>
      <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="textbox.access"></p-inputSwitch>

      <h3 class="first"></h3>
      <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="textbox.limit"></p-inputSwitch><span>Limit Entry (Limit the maximum number of characters allowed for this field.)</span>

      <h3 class="first">Maximum<span style="color: red">*</span></h3>
      <input type="text" size="30"  placeholder="Maximum" pInputText [(ngModel)]="textbox.maximum">

      <h3 class="first">Regular Expression</h3>
      <input type="text" size="30" placeholder="Regular Expression" pInputText [(ngModel)]="textbox.regular">
      <span>A regular expression pattern.</span>

      <h3 class="first">Default Value</h3>
      <input type="text" size="30" placeholder="Default Value" pInputText [(ngModel)]="textbox.defVal">
      <span>Pre-populate a value for this field.</span>

      <h3 class="first"></h3>
      <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="textbox.readOnly"></p-inputSwitch><span>Read-only (Prevent entry into this field.)</span>

    </p-tabPanel>
    <p-tabPanel header="CUSTOM CODE">
      <app-wiget-select-event (chooseOk)="chooseEvent($event)" [parentType]="textbox"></app-wiget-select-event>
      <h3 class="first"></h3>

      <app-blockly *ngIf="divShow"></app-blockly>
    </p-tabPanel>
  </p-tabView>
  <p-footer>
    <app-wiget-property-bottom (cFinish)="clickFinish(e)" (cQuickFinish)="clickQuickFinish(e)"></app-wiget-property-bottom>
  </p-footer>
</p-panel>
