<!-- checkbox属性编辑控件 -->
<p-panel>
  <p-header>
    <div class="ui-helper-clearfix">
      <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Checkbox setting</span>
    </div>
  </p-header>
  <p-tabView>
    <p-tabPanel header="GENERAL">
      <h3 class="first">Label<span style="color: red">*</span></h3>
      <input type="text" size="30" placeholder="Checkbox" pInputText [(ngModel)]="checkbox.label">
      <span>Type your label.</span>

      <h3 class="first">Name<span style="color: red">*</span></h3>
      <input type="text" size="30"  placeholder="checkbox" pInputText [(ngModel)]="checkbox.name">

      <h3 class="first"></h3>
      <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="checkbox.required"></p-inputSwitch><span>Required (Prevent submission if this value is empty.)</span>

      <h3 class="first"></h3>
      <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="checkbox.readOnly"></p-inputSwitch><span>Read-only (Prevent entry into this field.)</span>
    </p-tabPanel>
    <p-tabPanel header="ADVANCED">
      <h3 class="first">Access Control</h3>
      <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="checkbox.access"></p-inputSwitch>

    </p-tabPanel>
    <p-tabPanel header="CUSTOM CODE">
      <app-wiget-select-event (chooseOk)="chooseEvent($event)" [parentType]="checkbox"></app-wiget-select-event>
      <h3 class="first"></h3>

      <app-blockly *ngIf="divShow"></app-blockly>
    </p-tabPanel>
  </p-tabView>
  <p-footer>
    <app-wiget-property-bottom (cFinish)="clickFinish(e)" (cQuickFinish)="clickQuickFinish(e)"></app-wiget-property-bottom>
  </p-footer>
</p-panel>
