.button {
  width: 100%;
  background-color: rgb(61, 183, 206);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border: none;
  color: #ffffff;
  margin: 0 3px;
  min-height: 30px;
  line-height: 30px;
  border-radius: 2px;
  text-align: center;
  outline: 0;
}
